.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    width: 100%;

    button{
        margin: 0;
    }
    :global(.active){
        background-color: var(--primary-color);
    }
}