.filterLayout{
    max-width: 300px;
    min-width: 200px;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .filterLayout {
        max-width: 100%;
        width: 100%;
        min-width: unset;
    }
}
.header{
    text-transform: capitalize;
    position: relative;
    padding-bottom: 10px;
}

.header::after{
    content: '';
    width: 100%;
    border-bottom: solid 1px #fff;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;

}
.filterTitle{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
label{
    font-size: 14px;
}
svg{
    margin-top: 4px;
    width: 15px;
    height: 15px;
}
input[type="range"]{
    width: 100%;
    accent-color: var(--primary-color);
}
.priceRange{
    display: flex;
    justify-content: space-between;
}
div[role="button"]{
    cursor: pointer; 
    background-color:  #646cff26;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}